# npx auth secret; change BETTER_AUTH_SECRET to AUTH_SECRET
AUTH_SECRET=
# The database file. You can make this a remote URL.
DB_FILE_NAME=file:tungsten.db
# Disables signups. Disable this after you've made your account if you don't want anyone else to sign up.
NEXT_PUBLIC_ALLOW_SIGNUPS=true
# Enables the demo mode, which makes the database ephemeral, disables signups, and makes a demo user.
IS_DEMO=false
